
WPFUIComposition/ContentModule/obj/ContentModule.csproj.nuget.cache
WPFUIComposition/ContentModule/obj/ContentModule.csproj.nuget.g.targets
WPFUIComposition/EnglishModule/obj/EnglishModule.csproj.nuget.cache
WPFUIComposition/EnglishModule/obj/EnglishModule.csproj.nuget.g.props
WPFUIComposition/EnglishModule/obj/EnglishModule.csproj.nuget.g.targets
WPFUIComposition/HelloWorldModule/obj/HelloWorldModule.csproj.nuget.cache
WPFUIComposition/HelloWorldModule/obj/HelloWorldModule.csproj.nuget.g.props
WPFUIComposition/HelloWorldModule/obj/HelloWorldModule.csproj.nuget.g.targets
